In [1]:
# import dependencies

import os
import csv
import pandas as pd
from dotenv import load_dotenv
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

%matplotlib inline

In [13]:
# Read in 2016 CSV file
posts_2016_df = pd.read_csv("../Source_Data/posts_2016.csv",)

# Display sample data
posts_2016_df.head(5)

,id,handle,text,is_retweet,original_author,time,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,is_quote_status,...,place_type,place_country_code,place_country,place_contained_within,place_attributes,place_bounding_box,source_url,truncated,entities,extended_entities
0,780925634159796224,HillaryClinton,The question in this election: Who can put the...,False,NaN,2016-09-28T00:22:34,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,https://studio.twitter.com,False,{'media': [{'display_url': 'pic.twitter.com/Xr...,{'media': [{'display_url': 'pic.twitter.com/Xr...
1,780916180899037184,HillaryClinton,"Last night, Donald Trump said not paying taxes...",True,timkaine,2016-09-27T23:45:00,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,http://twitter.com,False,{'media': [{'display_url': 'pic.twitter.com/t0...,{'media': [{'display_url': 'pic.twitter.com/t0...
2,780911564857761793,HillaryClinton,Couldn't be more proud of @HillaryClinton. Her...,True,POTUS,2016-09-27T23:26:40,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,https://about.twitter.com/products/tweetdeck,False,"{'user_mentions': [{'id_str': '1536791610', 'n...",NaN
3,780907038650068994,HillaryClinton,"If we stand together, there's nothing we can't...",False,NaN,2016-09-27T23:08:41,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,https://studio.twitter.com,False,{'media': [{'display_url': 'pic.twitter.com/Q3...,{'media': [{'display_url': 'pic.twitter.com/Q3...
4,780897419462602752,HillaryClinton,Both candidates were asked about how they'd co...,False,NaN,2016-09-27T22:30:27,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,https://about.twitter.com/products/tweetdeck,False,"{'user_mentions': [], 'symbols': [], 'urls': [...",NaN

In [3]:
# View columns in dataframe
posts_2016_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6444 entries, 0 to 6443
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       6444 non-null   int64
 1   handle                   6444 non-null   object
 2   text                     6444 non-null   object
 3   is_retweet               6444 non-null   bool
 4   original_author          722 non-null    object
 5   time                     6444 non-null   object
 6   in_reply_to_screen_name  208 non-null    object
 7   in_reply_to_status_id    202 non-null    float64
 8   in_reply_to_user_id      208 non-null    float64
 9   is_quote_status          6444 non-null   bool
 10  lang                     6444 non-null   object
 11  retweet_count            6444 non-null   int64
 12  favorite_count           6444 non-null   int64
 13  longitude                12 non-null     float64
 14  latitude                 12 non-null     float64
 15  place_id                 204 non-null    object
 16  place_full_name          204 non-null    object
 17  place_name               204 non-null    object
 18  place_type               204 non-null    object
 19  place_country_code       204 non-null    object
 20  place_country            204 non-null    object
 21  place_contained_within   204 non-null    object
 22  place_attributes         204 non-null    object
 23  place_bounding_box       204 non-null    object
 24  source_url               6444 non-null   object
 25  truncated                6444 non-null   bool
 26  entities                 6444 non-null   object
 27  extended_entities        1348 non-null   object
dtypes: bool(3), float64(4), int64(3), object(18)
memory usage: 1.2+ MB

In [4]:
# Restrict dataframe to columns of interest

# Define the columns to keep
columns_to_keep = ['id', 'handle', 'text', 'time']

# Drop all columns except the specified ones
posts_2016_df = posts_2016_df[columns_to_keep]

# View dataframe
posts_2016_df.head()

,id,handle,text,time
0,780925634159796224,HillaryClinton,The question in this election: Who can put the...,2016-09-28T00:22:34
1,780916180899037184,HillaryClinton,"Last night, Donald Trump said not paying taxes...",2016-09-27T23:45:00
2,780911564857761793,HillaryClinton,Couldn't be more proud of @HillaryClinton. Her...,2016-09-27T23:26:40
3,780907038650068994,HillaryClinton,"If we stand together, there's nothing we can't...",2016-09-27T23:08:41
4,780897419462602752,HillaryClinton,Both candidates were asked about how they'd co...,2016-09-27T22:30:27

In [5]:
sentiments = []

for comment in posts_2016_df['text']:
    try:
        # text = comment['text']
        # results = analyzer.polarity_scores(text)
        results = analyzer.polarity_scores(comment)
        compound = results['compound']
        pos = results['pos']
        neu = results['neu']
        neg = results['neg']
        
        sentiments.append({
            'Compound': compound,
            'Positive': pos,
            'Negative': neg,
            'Neutral': neu,
            # 'text': text,
            'text': comment,
        })
    # except AttributeError:
    #     pass

    except Exception as e:
        print(f"Error processing comment: {e}")
        continue
    
sm16 = pd.DataFrame(sentiments)
sm16.head()

,Compound,Positive,Negative,Neutral,text
0,0.4404,0.139,0.000,0.861,The question in this election: Who can put the...
1,0.0000,0.000,0.000,1.000,"Last night, Donald Trump said not paying taxes..."
2,0.1850,0.165,0.102,0.733,Couldn't be more proud of @HillaryClinton. Her...
3,0.1376,0.128,0.101,0.771,"If we stand together, there's nothing we can't..."
4,-0.6597,0.000,0.278,0.722,Both candidates were asked about how they'd co...

In [6]:
#summary statistics sm16
sm16.describe()

          Compound     Positive     Negative      Neutral
count  6444.000000  6444.000000  6444.000000  6444.000000
mean      0.134630     0.148067     0.075284     0.776647
std       0.501748     0.154608     0.113624     0.160151
min      -0.965200     0.000000     0.000000     0.204000
25%      -0.180050     0.000000     0.000000     0.667000
50%       0.073750     0.122000     0.000000     0.776500
75%       0.546100     0.250000     0.136000     0.891000
max       0.973500     0.796000     0.773000     1.000000

In [7]:
# Complete the dataframe

# Add the 'year' column with the value 2016 for all rows
sm16['year'] = 2016

# Add the 'outcome' column with the value 'Republican' for all rows
sm16['outcome'] = 'Republican'

sm16.head()

,Compound,Positive,Negative,Neutral,text,year,outcome
0,0.4404,0.139,0.000,0.861,The question in this election: Who can put the...,2016,Republican
1,0.0000,0.000,0.000,1.000,"Last night, Donald Trump said not paying taxes...",2016,Republican
2,0.1850,0.165,0.102,0.733,Couldn't be more proud of @HillaryClinton. Her...,2016,Republican
3,0.1376,0.128,0.101,0.771,"If we stand together, there's nothing we can't...",2016,Republican
4,-0.6597,0.000,0.278,0.722,Both candidates were asked about how they'd co...,2016,Republican

In [8]:
# Define the file path
file_path = "../Source_data/posts_2020.csv"

# Initialize an empty DataFrame to hold the filtered data
posts_2020_df = pd.DataFrame()

# Define the acceptable values for the 'country' column
acceptable_countries = ["United States", "United States of America"]

# Process the file in chunks to handle large files
chunk_size = 10**6  # Adjust the chunk size based on your system's memory capacity
for chunk in pd.read_csv(
    file_path,
    engine='python',                  # Use Python engine to handle more complex cases
    on_bad_lines='skip',              # Skip problematic lines
    delimiter=',',                    # Ensure correct delimiter
    chunksize=chunk_size              # Read the file in chunks
):
    # Filter rows based on the 'country' column
    filtered_chunk = chunk[chunk['country'].isin(acceptable_countries)]
    # Append the filtered chunk to the main DataFrame
    posts_2020_df = pd.concat([posts_2020_df, filtered_chunk], ignore_index=True)

# Verify the result
posts_2020_df.head()

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
0,2020-10-15 00:00:01,1.316529221557252e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,360666534.0,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,1860.0,"Philadelphia, PA / Miami, FL",25.77427,-80.19366,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00
1,2020-10-15 00:00:02,1.316529228091847e+18,"#Trump: As a student I used to hear for years,...",2.0,1.0,Twitter Web App,8436472.0,snarke,snarke,"Will mock for food! Freelance writer, blogger,...",...,1185.0,Portland,45.5202471,-122.6741949,Portland,United States of America,North America,Oregon,OR,2020-10-21 00:00:00.746433060
2,2020-10-15 00:00:08,1.3165292523014513e+18,You get a tie! And you get a tie! #Trump ‚Äòs ra...,4.0,3.0,Twitter for iPhone,47413798.0,Rana Abtar - ÿ±ŸÜÿß ÿ£ÿ®ÿ™ÿ±,Ranaabtar,"Washington Correspondent, Lebanese-American ,c...",...,5393.0,Washington DC,38.8949924,-77.0365581,Washington,United States of America,North America,District of Columbia,DC,2020-10-21 00:00:01.492866121
3,2020-10-15 00:00:17,1.316529291052675e+18,@CLady62 Her 15 minutes were over long time ag...,2.0,0.0,Twitter for Android,1138416104.0,Farris Flagg,FarrisFlagg,#BidenHarris2020 #JoeBiden2020 #KamalaHarrisFo...,...,2363.0,"Perris,California",33.7825194,-117.22864779999999,NaN,United States of America,North America,California,CA,2020-10-21 00:00:01.866082651
4,2020-10-15 00:00:18,1.3165292934979625e+18,@DeeviousDenise @realDonaldTrump @nypost There...,0.0,0.0,Twitter for iPhone,9.007610716314296e+17,Stacey Gulledge üá∫üá∏ Patriot ‚ô•Ô∏è KAG üôè üëÆ‚Äç‚ôÄÔ∏è‚ô•Ô∏è,sm_gulledge,"Patriot, Wife, ‚ÄúShaken not Stirred‚Äù Mom of two...",...,766.0,"Ohio, USA",40.225356899999994,-82.6881395,NaN,United States of America,North America,Ohio,OH,2020-10-21 00:00:02.612515712

In [9]:
# Restrict dataframe to columns of interest

# Rename columns
posts_2020_df.rename(columns={
    'user_screen_name': 'handle',
    'tweet': 'text',
    'created_at': 'time',
    'tweet_id': 'id'
}, inplace=True)

# Select only the required columns
posts_2020_df = posts_2020_df[['id', 'handle', 'text', 'time']]

# Verify the result
posts_2020_df.head()

,id,handle,text,time
0,1.316529221557252e+18,elsollatinonews,#Elecciones2020 | En #Florida: #JoeBiden dice ...,2020-10-15 00:00:01
1,1.316529228091847e+18,snarke,"#Trump: As a student I used to hear for years,...",2020-10-15 00:00:02
2,1.3165292523014513e+18,Ranaabtar,You get a tie! And you get a tie! #Trump ‚Äòs ra...,2020-10-15 00:00:08
3,1.316529291052675e+18,FarrisFlagg,@CLady62 Her 15 minutes were over long time ag...,2020-10-15 00:00:17
4,1.3165292934979625e+18,sm_gulledge,@DeeviousDenise @realDonaldTrump @nypost There...,2020-10-15 00:00:18

In [10]:
sentiments2 = []

for comment in posts_2020_df['text']:
    try:
        # Directly use the comment since it's already a string
        text = comment
        results = analyzer.polarity_scores(text)
        compound = results['compound']
        pos = results['pos']
        neu = results['neu']
        neg = results['neg']
        
        sentiments2.append({
            'Compound': compound,
            'Positive': pos,
            'Negative': neg,
            'Neutral': neu,
            'text': text,
        })
    except AttributeError:
        pass
    
sm20 = pd.DataFrame(sentiments2)
sm20.head()

,Compound,Positive,Negative,Neutral,text
0,0.0000,0.000,0.000,1.000,#Elecciones2020 | En #Florida: #JoeBiden dice ...
1,0.5905,0.071,0.000,0.929,"#Trump: As a student I used to hear for years,..."
2,0.0000,0.000,0.000,1.000,You get a tie! And you get a tie! #Trump ‚Äòs ra...
3,-0.4912,0.000,0.126,0.874,@CLady62 Her 15 minutes were over long time ag...
4,-0.2617,0.056,0.078,0.866,@DeeviousDenise @realDonaldTrump @nypost There...

In [11]:
#summary statistics sm20
sm20.describe()

            Compound       Positive       Negative        Neutral
count  213259.000000  213259.000000  213259.000000  213259.000000
mean       -0.009011       0.080170       0.080945       0.838883
std         0.476845       0.105996       0.110512       0.145215
min        -0.999500       0.000000       0.000000       0.012000
25%        -0.361200       0.000000       0.000000       0.741000
50%         0.000000       0.024000       0.000000       0.848000
75%         0.361200       0.138000       0.141000       1.000000
max         0.998700       0.958000       0.988000       1.000000

In [ ]:
# Complete the dataframe

# Add the 'year' column with the value 2020 for all rows
sm20['year'] = 2020

# Add the 'outcome' column with the value 'Republican' for all rows
sm20['outcome'] = 'Democrat'

sm20.head()

In [ ]:
# # reading datasets 
# trump = pd.read_csv("hashtag_donaldtrump.csv", lineterminator='\n') 
# print(trump.head(3))

In [ ]:
# # Display all the columns in the DataFrame 
# print(trump.columns)

In [ ]:
# biden = pd.read_csv("hashtag_joebiden.csv", lineterminator='\n') 
# print(biden.head(2))

In [ ]:
# print(trump.shape) 
# print(biden.shape)

In [ ]:
# # Getting trump dataset information 
# trump.info()

In [ ]:
# # Getting biden dataset information 
# biden.info()

In [ ]:
# # creating a new column 'candidate' todifferentiate 
# # between tweets of Trump and Biden upon concatination 
# trump['candidate'] = 'trump'

# # biden dataframe 
# biden['candidate'] = 'biden'

# # combining the dataframes 
# data = pd.concat([trump, biden]) 

# # FInal data shape 
# print('Final Data Shape :', data.shape) 

# # View the first 2 rows 
# print("\nFirst 2 rows:") 
# print(data.head(3))

In [ ]:
# # dropping null values if they exist 
# data.dropna(inplace=True)

In [ ]:
# data['country'].value_counts()

In [ ]:
# data['country'] = data['country'].replace({'United States of America': "US", 
# 										'United States': "US"})

In [ ]:
# # Group the data by 'candidate' and count the 
# # number of tweets for each candidate 
# tweets_count = data.groupby('candidate')['tweet'].count().reset_index() 

# # Interactive bar chart 
# fig = px.bar(tweets_count, x='candidate', y='tweet', color='candidate', 
# 			color_discrete_map={'Trump': 'pink', 'Biden': 'blue'}, 
# 			labels={'candidate': 'Candidates', 'tweet': 'Number of Tweets'}, 
# 			title='Tweets for Candidates') 

# # Show the chart 
# fig.show()

In [ ]:
# # Interactive bar chart 
# likes_comparison = data.groupby('candidate')['likes'].sum().reset_index() 
# fig = px.bar(likes_comparison, x='candidate', y='likes', color='candidate', 
# 			color_discrete_map={'Trump': 'blue', 'Biden': 'green'}, 
# 			labels={'candidate': 'Candidate', 'likes': 'Total Likes'}, 
# 			title='Comparison of Likes') 

# # Update the layout with a black theme 
# fig.update_layout(plot_bgcolor='black', 
# 				paper_bgcolor='black', font_color='white') 

# # Show the chart 
# fig.show()

In [ ]:
# # Top10 Countrywise tweets Counts 
# top10countries = data.groupby('country')['tweet'].count( 
# ).sort_values(ascending=False).reset_index().head(10) 
# # top10countries 

# # Interactive bar chart 
# fig = px.bar(top10countries, x='country', y='tweet', 
# 			template='plotly_dark', 
# 			color_discrete_sequence=px.colors.qualitative.Dark24_r, 
# 			title='Top10 Countrywise tweets Counts') 

# # To view the graph 
# fig.show()

In [ ]:
# # the number of tweets done for each 
# # candidate by all the countries. 
# tweet_df = data.groupby(['country', 'candidate'])[ 
# 	'tweet'].count().reset_index() 

# # Candidate for top 10 country tweet 
# tweeters = tweet_df[tweet_df['country'].isin(top10countries.country)] 

# # Plot for tweet counts for each candidate 
# # in the top 10 countries 
# fig = px.bar(tweeters, x='country', y='tweet', color='candidate', 
# 			labels={'country': 'Country', 'tweet': 'Number of Tweets', 
# 					'candidate': 'Candidate'}, 
# 			title='Tweet Counts for Each Candidate in the Top 10 Countries', 
# 			template='plotly_dark', 
# 			barmode='group') 

# # Show the chart 
# fig.show()

In [ ]:
# def clean(text): 
# 	# Remove URLs 
# 	text = re.sub(r'https?://\S+|www\.\S+', '', str(text)) 

# 	# Convert text to lowercase 
# 	text = text.lower() 

# 	# Replace anything other than alphabets a-z with a space 
# 	text = re.sub('[^a-z]', ' ', text) 

# 	# Split the text into single words 
# 	text = text.split() 

# 	# Initialize WordNetLemmatizer 
# 	lm = WordNetLemmatizer() 

# 	# Lemmatize words and remove stopwords 
# 	text = [lm.lemmatize(word) for word in text if word not in set( 
# 		stopwords.words('english'))] 

# 	# Join the words back into a sentence 
# 	text = ' '.join(word for word in text) 

# 	return text

In [ ]:
# def getpolarity(text): 
# 	return TextBlob(text).sentiment.polarity 

# def getsubjectivity(text): 
# 	return TextBlob(text).sentiment.subjectivity 

# def getAnalysis(score): 
# 	if score < 0: 
# 		return 'negative'
# 	elif score == 0: 
# 		return 'neutral'
# 	else: 
# 		return 'positive'

<!-- ## Donald Trump Sentiment Analysis -->

In [ ]:
# trump_tweets = data[data['candidate'] == 'trump'] 

# # taking only U.S. country data 
# trump_tweets = trump_tweets.loc[trump_tweets.country == 'US'] 
# trump_tweets = trump_tweets[['tweet']] 
# print(trump_tweets.head())

In [ ]:
# trump_tweets['cleantext'] = trump_tweets['tweet'].apply(clean) 
# print(trump_tweets.head())

In [ ]:
# trump_tweets['subjectivity'] = trump_tweets['cleantext'].apply(getsubjectivity)

In [ ]:
# trump_tweets['polarity'] = trump_tweets['cleantext'].apply(getpolarity)

In [ ]:
# trump_tweets['analysis'] = trump_tweets['polarity'].apply(getAnalysis) 
# trump_tweets.head()

In [ ]:
# # how much data is positive/negetive/neutral 
# plt.style.use('dark_background') # Adding black theme 

# # Define colors for each bar 
# colors = ['orange', 'blue', 'red'] 

# plt.figure(figsize=(7, 5)) 
# (trump_tweets.analysis.value_counts(normalize=True) * 100).plot.bar(color=colors) 
# plt.ylabel("%age of tweets") 
# plt.title("Distribution of Sentiments towards Trump") 
# plt.show()

In [ ]:
# def word_cloud(wd_list): 
# 	stopwords = set(STOPWORDS) 
# 	all_words = ' '.join() 
# 	wordcloud = WordCloud(background_color='black', 
# 						stopwords=stopwords, 
# 						width=1600, height=800, max_words=100, max_font_size=200, 
# 						colormap="viridis").generate(all_words) 
# 	plt.figure(figsize=(12, 10)) 
# 	plt.axis('off') 
# 	plt.imshow(wordcloud) 

# word_cloud(trump_tweets['cleantext'][:5000])

<!-- ## Joe Biden's Sentiment Analysis -->

In [ ]:
# biden_tweets = data[data['candidate'] == 'biden'] 
# biden_tweets = biden_tweets.loc[biden_tweets.country == 'US'] 
# biden_tweets = biden_tweets[['tweet']] 
# biden_tweets

In [ ]:
# biden_tweets['cleantext']=biden_tweets['tweet'].apply(clean) 
# biden_tweets.head()

In [ ]:
# biden_tweets['subjectivity'] = biden_tweets['cleantext'].apply(getsubjectivity) 
# biden_tweets['polarity'] = biden_tweets['cleantext'].apply(getpolarity) 
# biden_tweets['analysis'] = biden_tweets['polarity'].apply(getAnalysis) 
# biden_tweets.head()

In [ ]:
# # how much data is positive/negetive/neutral 
# plt.style.use('dark_background') 

# # Define colors for each bar 
# colors = ['orange', 'green', 'red'] 

# plt.figure(figsize=(7, 5)) 
# (biden_tweets.analysis.value_counts(normalize=True) * 100).plot.bar(color=colors) 
# plt.ylabel("%age of tweets") 
# plt.title("Distribution of Sentiments towards Biden") 
# plt.show()

In [ ]:
# word_cloud(biden_tweets['cleantext'][:5000])

<!-- ## Trump Prediction -->

In [ ]:
# Trump_Tweets.analysis.value_counts(normalize=True)*100

<!-- ## Biden Prediction -->

In [ ]:
# Biden_Tweets.analysis.value_counts(normalize=True)*100

<!-- ### Conclusion:
let‚Äôs analyze what each sentiment‚Äôs percentage represents and its implications on the result.

Positive Sentiment: Positive tweets about Biden outnumber positive tweets about Trump: Biden‚Äôs tweets have a higher percentage of positive feelings (36.43%) than Trump‚Äôs ( 33.99%). This shows that Twitter users are responding more favorably to Biden.

Neutral Sentiment: Trump receives more neutral sentiments: In contrast, Trump receives slightly more neutral sentiments (43.22%) in comparison to Biden (46.83%) in his tweets. This may indicate that Trump‚Äôs tweets are more likely to be seen as neutral or impersonal, leading to a higher neutral sentiment rate.

Negative Sentiment: Trump gets more unfavorable reactions: While both candidates have received criticism, Trump‚Äôs tweets have a greater percentage of unfavorable reactions (22.78%) than Biden‚Äôs (16.79%). This implies that there may have been more opposition to Trump‚Äôs tweets on Twitter.

With respect to the U.S. voters, it was highlighted a lot of times that Trump was the most talked about and tweeted about among people however, Trump has received more negative comments as compared to Joe Biden. As a result, Joe Biden won the 2020 elections which is a proven fact. However, overall, the competition was close as shown by  -->the data.